body {
  background-image: radial-gradient(circle at 42.73% 77.14%, #d144ea 0, #ba3fee 25%, #9f3cf2 50%, #7e3bf6 75%, #4f3cf9 100%);
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  font-family: sans-serif;
  min-height: 100vw;
}

section .repos .repo-grid {
  display: flex;
  flex-wrap: wrap;
}

section .repos .repo-grid .repo-card {
  width: 300px;
  background: #3c3a3a;
  border-radius: 5px;
  margin: 10px;

  cursor: pointer;
}

section .repos .repo-grid .repo-card__content {
  padding: 15px;
}

.repo-card__name {
  color: #fff;
}

section .repos .repo-grid .repo-card a {
  text-decoration: none;
}





/* certification */

section .certifications .certification-grid {
  display: flex;
  flex-wrap: wrap;
}

section .certifications .certification-grid .certification-card {
  width: 300px;
  background: #3c3a3a;
  border-radius: 5px;
  margin: 10px;

  cursor: pointer;
}

section .certifications .certification-grid .certification-card__content {
  padding: 15px;
}


.certification-card__skill,
.certification-card__date,
.certification-card__foundation,
.certification-card__name {
  color: #fff;
}

section .certifications .certification-grid .certification-card a {
  text-decoration: none;
}

main {
  max-width: 1200px;
  margin: auto;
}

section .repos .repo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main {
  max-width: 1200px;
  margin: auto;
}

section .repos .repo-grid .repo-card a {
  color: #fff;
}

section .repos .repo-grid .repo-card a img {
  height: auto;
  width: 100%;
  border-radius: 5px;
}

section .repos .repo-grid .repo-card .repo-card__image a {
  width: 100%;
  display: flex;
  max-height: 200px;
}

section .repos .repo-grid .repo-card .repo-card__image {
  max-height: 200px;
  margin-bottom: 15px;
}


.repo-card__desc span.desc {
  color: #a4a4a4;
}

.repo-card__desc .topics .topic {
  display: inline-block;
  padding: 0 7px;
  font-size: 12px;
  font-weight: var(--base-text-weight-medium, 500);
  line-height: 18px;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 2em;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 22px;
  color: #58a6ff;
  background-color: rgba(56, 139, 253, 0.15);
  border: 1px solid rgba(0, 0, 0, 0);
  transition: 0.2s;

}

.repo-card__desc .topics .topic:hover {
  background: #1f6feb;
  color: #fff;
  transition: 0.2s;

}

.repo-card__desc .topics {
  gap: 10px;
  display: flex;
  margin: 10px 0px;
}

section .repos .repo-grid .repo-card:hover {
  width: 350px;
}

section .repos .repo-grid .repo-card {
  transition: 0.5s;
}