body {
  background-image: radial-gradient(circle at 42.73% 77.14%, #d144ea 0, #ba3fee 25%, #9f3cf2 50%, #7e3bf6 75%, #4f3cf9 100%);
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  font-family: sans-serif;
  min-height: 100vw;
}

section .repos .repo-grid {
  display: flex;
  flex-wrap: wrap;
}

section .repos .repo-grid .repo-card {
  width: 300px;
  background: #3c3a3a;
  border-radius: 5px;
  margin: 10px;

  cursor: pointer;
}

section .repos .repo-grid .repo-card__content {
  padding: 15px;
}

.repo-card__name {
  color: #fff;
}

section .repos .repo-grid .repo-card a {
  text-decoration: none;
}





/* certification */

section .certifications .certification-grid {
  display: flex;
  flex-wrap: wrap;
}

section .certifications .certification-grid .certification-card {
  width: 300px;
  background: #3c3a3a;
  border-radius: 5px;
  margin: 10px;

  cursor: pointer;
}

section .certifications .certification-grid .certification-card__content {
  padding: 15px;
}


.certification-card__skill,
.certification-card__date,
.certification-card__foundation,
.certification-card__name {
  color: #fff;
}

section .certifications .certification-grid .certification-card a {
  text-decoration: none;
}

main>section {
  max-width: 1200px;
  margin: auto;
}

section .repos .repo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



section .repos .repo-grid .repo-card a {
  color: #fff;
}

section .repos .repo-grid .repo-card a img {
  height: auto;
  width: 100%;
  border-radius: 5px;
}

section .repos .repo-grid .repo-card .repo-card__image a {
  width: 100%;
  display: flex;
  max-height: 200px;
}

section .repos .repo-grid .repo-card .repo-card__image {
  max-height: 200px;
  margin-bottom: 15px;
}


.repo-card__desc span.desc {
  color: #a4a4a4;
}

.repo-card__desc .topics .topic {
  display: inline-block;
  padding: 0 7px;
  font-size: 12px;
  font-weight: var(--base-text-weight-medium, 500);
  line-height: 18px;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 2em;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 22px;
  color: #58a6ff;
  background-color: rgba(56, 139, 253, 0.15);
  border: 1px solid rgba(0, 0, 0, 0);
  transition: 0.2s;

}

.repo-card__desc .topics .topic:hover {
  background: #1f6feb;
  color: #fff;
  transition: 0.2s;

}

.repo-card__desc .topics {
  gap: 10px;
  display: flex;
  margin: 10px 0px;
}

section .repos .repo-grid .repo-card .repo-card__content {
  transition: 0.5s;
}

section .repos .repo-grid .repo-card:hover .repo-card__content {
  width: 350px;
  background: #3c3a3a;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  position: absolute;
}

section .repos .repo-grid .repo-card {
  transition: 0.5s;
}

h2.title {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.repo-grid__options {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.certifications {
  display: flex;
  justify-content: center;
}

.repo-grid__options button {
  background: #3c3a3a;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.repo-grid__options button span {
  font-size: 20px;
  display: flex;
}


.repo-grid__options button:hover {
  background: #161616;

}


.repo-grid__options .page-indexes {
  display: flex;
  gap: 5px;
}

.repo-grid__options .page-indexes .index:hover {
  background: #161616;

}

.repo-grid__options .page-indexes .index {
  background: #3c3a3a;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
  cursor: pointer;
  transition: 0.5s;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  background: #161616 !important;
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotate-object {
  animation: rotate 360s linear infinite;
}

main>section .content {
  display: flex;
  justify-content: center;
  /* max-width: 1200px; */
}

.rotate {
  max-width: 700px;
  height: 700px;
}

main>section.head {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: none;
  background: #000;
}

.certifications {
  display: flex;
  justify-content: center;
}

section .certifications .certification-grid {
  justify-content: center;
}

section .certifications .certification-grid .certification-card a .certification-card__image img {
  width: 100%;
}

section .certifications .certification-grid .certification-card__content {
  display: flex;
  /* max-height: 48px; */
}

section .certifications .certification-grid .certification-card__content .certification-card__image {
  max-height: 48px;
  max-width: 48px;
  margin-right: 10px;
}

section .certifications .certification-grid .certification-card__content .certification-card__image img {
  width: 100%;
}

section .certifications .certification-grid .certification-card {
  width: 450px;
}

section .certifications .certification-grid .certification-card a {
  border: 1px solid #58a6ff;
  display: flex;
  border-radius: 50px;
  padding: 5px 10px;
  align-items: center;
  transition: 0.5s;
  width: fit-content;
}

section .certifications .certification-grid .certification-card a svg,
section .certifications .certification-grid .certification-card a span {
  color: #58a6ff;
}

section .certifications .certification-grid .certification-card a .anchor-icon {
  display: flex;
  margin-left: 5px;
}

section .certifications .certification-grid .certification-card a:hover {
  color: #fff;
  background: #58a6ff;
  transition: 0.5s;

}

section .certifications .certification-grid .certification-card a:hover svg,
section .certifications .certification-grid .certification-card a:hover span {
  color: #fff;

}

.certification-card__credential {
  line-height: 20px;
  font-size: 14px;
  color: #989898;
  margin-bottom: 10px;
}

.certification-card__date {
  line-height: 20px;
  font-size: 14px;
  color: #989898;
}

.certification-card__foundation {
  line-height: 20px;
  font-size: 14px;
}

.certification-card__name {
  line-height: 20px;
  margin-bottom: 1px;
  font-size: 22px;
}

section {
  background: #2b2b2b;
  padding: 20px;
  border-radius: 11px;
  margin-bottom: 30px !important;
}

body {
  background: #000;
}

section .head {
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid #626262;
  margin-bottom: 30px;
  padding-bottom: 5px;
  color: #fff;
}

.certifications {
  flex-direction: column;
}

.head span {
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  height: fit-content;
}

.head h1 {
  margin-bottom: 0px;
  font-size: 30px;
}

.head span {
  margin-bottom: 0px;
}

section .head {
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid #626262;
  margin-bottom: 30px;
  padding-bottom: 5px;
  color: #8a8a8a;
  max-width: 1100px;
}

.certifications {
  flex-direction: column;
}

.head span {
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  height: fit-content;
}

.head h1 {
  margin: 0px;
  font-size: 30px;
}

.head span {
  margin-bottom: 0px;
  margin-right: 10px;
}

section .certifications .certification-grid {
  justify-content: initial;
  margin: auto;
  max-width: 1100px;
}

.repo-grid__options {
  margin: 20px 0px 5px;
}

section .repos .repo-grid .repo-card {
  min-height: 350px;
}

section .repos .repo-grid .repo-card:hover {
  background: #2b2b2b
}

section .repos .repo-grid .repo-card:hover .repo-card__content {
  width: 350px;
  min-height: 370px;
  background: #3c3a3a;
  border-radius: 5px;
  margin: -10px -50px;
  cursor: pointer;
  position: absolute;
  border: 1px solid #505050;
}