body {
  background-image: radial-gradient(circle at 42.73% 77.14%, #d144ea 0, #ba3fee 25%, #9f3cf2 50%, #7e3bf6 75%, #4f3cf9 100%);
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-family: sans-serif;
}

section .repos .repo-grid {
  display: flex;
  flex-wrap: wrap;
}

section .repos .repo-grid .repo-card {
  width: 300px;
  background: #3c3a3a;
  border-radius: 5px;
  margin: 10px;

  cursor: pointer;
}

section .repos .repo-grid .repo-card__content {
  padding: 15px;
}

.repo-card__name {
  color: #fff;
}

section .repos .repo-grid .repo-card a {
  text-decoration: none;
}





/* certification */

section .certifications .certification-grid {
  display: flex;
  flex-wrap: wrap;
}

section .certifications .certification-grid .certification-card {
  width: 300px;
  background: #3c3a3a;
  border-radius: 5px;
  margin: 10px;

  cursor: pointer;
}

section .certifications .certification-grid .certification-card__content {
  padding: 15px;
}


.certification-card__skill,
.certification-card__date,
.certification-card__foundation,
.certification-card__name {
  color: #fff;
}

section .certifications .certification-grid .certification-card a {
  text-decoration: none;
}